*{
 padding: 0;
 margin: 0;
}

body{
    background-color: #f8f8f8;
}
.navbar {
  background-color: #b0dbb2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
}

.logo {
    background-color: #b0dbb2;
  width: 100px;
  height: 100px;
  background-image: url(img/logo.png);
  background-size: cover;

}

.form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px #b0dbb2;
  }

 input[type="email"], [type="text"], [type="password"], [type="date"]
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input[type="submit"] {
    background-color: #b0dbb2;
    color: rgb(105, 57, 33);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }
  
  input[type="submit"]:hover {
    color: white;
  }

  footer {
    margin-top: 40px;
    padding: 15px;
    background-color: #558d57;
    color: rgb(105, 57, 33);
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
  }
  
  .map{
    min-height: 200px;
}